.add
{
    color:red;
    font-size:20px;
}
.title
{
    font-size:20px;
    font-style:italic;
    margin-bottom:-4px;
    margin-top: 10px;
    text-align:center;
    
}
.container
{
    margin-top:30px;
}
.space-right{
    margin-right:20px;
}
.space-left{
    margin-left:15px;
}
td
{
    border:1px solid black;
}
.gage
{
    color : red;
}
.nbr
{
    color:blue;
}

.gage, .nbr
{
    padding:5px;
}

.show
{
    visibility:show;
}


.loader{
    position: fixed; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    width:70px;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
   
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }